baseURL = "https://lorenzifrancesco.github.io"
languageCode = "en-us"
title = "Francesco Lorenzi"
theme = "papermod"

# Enable this for better debugging
# disableKinds = ["taxonomy", "taxonomyTerm"]

# PaperMod specific settings
[params]
  defaultTheme = "light" # default theme (dark, light, auto)
  disableThemeToggle =  true
  showReadingTime = true # show estimated reading time
  showPostNavLinks = true # show next/prev post navigation links
  useHugoToc = true # use Hugo's built-in Table of Contents
  math = true
  ShowCodeCopyButtons = true
  ShowBreadCrumbs = true
  ShowToc=true
  social =true
  
[params.assets]
  css = ["css/extended/custom.css"]

[markup]
  [markup.highlight]
    # style = "monokai"
  [markup.tableOfContents]
    startLevel = 1
    endLevel = 3
    ordered = false
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[taxonomies]
  tag = "tags"

[permalinks]
  tags = "/tags/:slug/"

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/about.md'
    weight = 1
  [[menus.main]]
    name = 'Posts'
    pageRef = '/tags.md'
    weight = 2
  [[menus.main]]
    name = 'Archive'
    pageRef = '/post'
    weight = 3
  [[menus.main]]
    name = 'Readings'
    pageRef = '/readings'
    weight = 30
  # [[menus.main]]
  #   name = 'Sunday mornings in the lab'
  #   pageRef = '/lab'
  #   weight = 30
  [[menus.main]]
    name = 'Search'
    pageRef = '/search.md'
    weight = 30

[outputs]
home = ["HTML", "RSS", "JSON"]  # necessary for search
