{{ define "main" }}
<div class="tags-page">
    <h1>Posts by Tag</h1>
    <style>
      .padded-element {
        padding-bottom: 200px; /* Adjust the space inside the element */
      }
    </style>

    <ul class="tags-list">
        {{ $tags := .Site.Taxonomies.tags }}
        {{ range $tag, $taxonomy := $tags }}
            <li class="tag-item">
                <h2><a href="{{ "/tags/" | relURL }}{{ $tag }}">{{ $tag }}</a></h2>
                <ul class="posts-list">
                    {{ range $taxonomy.Pages }}
                        <li class="post-item">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}